@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  background: $grey;
  display: grid;
  grid-template-columns: 450px;
  margin-left: 50px;
}
.main {
  max-width: 770px;
  margin: 0 auto;
  }

.form__paragraph {
  
  
}
.form__input {
  width: 450px;
  padding: 8px;
  border-radius: 4px;
}

.header {
  font-family: 'Work Sans', sans-serif;
  align-items: center;
}
.header__article{
    font-family: 'Oxygen', sans-serif;
   
  }

.font {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
.loadButton {
  font-family: 'Oxygen', sans-serif;
  border-radius: 16px;
  background: white;
  color: red;
}
.saveButton {
  font-family: 'Oxygen', sans-serif;
  border-radius: 16px;
  background: white;
  color: green;
}
.sendButton {
  font-family: 'Oxygen', sans-serif;
  width: 50px;
  height: 30px;
  text-decoration: none;
  background: none;
  color: white;
}